option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "mysite.settings"
    "PYTHONPATH": "C:/Users/User1/AppData/Local/Programs/Python/Python39:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: mysite/mysite/mysite/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"