container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python mysite/mysite/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python mysite/mysite/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python mysite/mysite/manage.py collectstatic --noinput"
  

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "project.settings"
    "PYTHONPATH": "C:/Users/User1/AppData/Local/Programs/Python/Python39:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: mysite/mysite/mysite/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "/static/"