container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python mysite/mysite/mysite/manage.py migrate --noinput"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "mysite.settings"
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"

  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    "/static": "static/"

  "aws:elasticbeanstalk:container:python":
    WSGIPath: mysite/mysite/mysite/wsgi.py