<!-- templates/about.html -->
{% extends 'base.html' %}

{% block content %}
<style>
  .maintext {
  margin: 0;
  padding: 5px;
  background-color: rgb(245,245,245);
 }

  .container {
  display: flex;
  align-items: center;
  justify-content: center
  }

</style>
<header class="masthead">
  <p>
    {% load static %}
  </p>
  <div class="overlay"></div>
  <div class="container">
    <article class="maintext">
      <div class = "row">
        <div class="col-md-3">
          <img src="{% static 'media/Atte-modified.png' %}" width="100%", height="auto" alt="", border="1px", id = "kuva"/>
        </div>
        <div class="col-md-9">
          <p>{{ text|safe }}</p>
        </div>
      </div>
    </article>
  </div>
</header>

{% endblock content %}