<!-- templates/about.html -->
{% extends 'base.html' %}

{% block content %}
<style>
  .maintext {
  margin: 0;
  padding: 5px;
  background-color: rgb(245,245,245);
 }
</style>
<header class="masthead">
  <p>
    {% load static %}
    <img src="{% static 'media/tausta.jpg' %}" width="100%"  alt="home" >
  </p>
  <div class="overlay"></div>
  <div class="container">
    <article class="maintext">
      <div class="row">
        <div class=" col-md-8 col-md-10 mx-auto">
          <div class="site-heading">
            <p>{{ text|safe }}</p>
          </div>
        </div>
      </div>
    </article>
  </div>
</header>

{% endblock content %}