<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-2 float-right ">
<div class="card my-4">
        <h5 class="card-header">About</h5>
    <div class="card-body">
        <p class="card-text"> - </p>
        <a href="#"
           class="btn btn-danger"> - </a>
    </div>
</div>
</div>

{% endblock sidebar %}
</head>
<body>

</body>
</html>