<!-- templates/about.html -->
{% extends 'base.html' %}

{% block content %}
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class=" col-md-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h3 class=" site-heading my-4 mt-3 text-dark"> Contact information </h3>
          <table class="table table-striped">
            <tr>
              <td>Research interests: </td>
              <td>
                <li>Sustainable business models</li>
                <li>Building and housing sector</li>
                <li>Innovation studies</li>
                <li>Regional development</li>
              </td>
            </tr>
            <tr>
              <td>Some hobbies: </td>
              <td><li>Racquet sports</li>
                  <li>Cycling</li>
                  <li>Basically all sports...</li>
                  <li>Reading</li>
                  </td>
            </tr>
            <tr>
              <td>Social media: </td>
              <td><li><a href="https://twitter.com/Atteko" target="_blank">Twitter</a></li>
                  <li><a href="https://www.linkedin.com/in/atte-koskivaara-b8b84457/" target="_blank">LinkedIn</a></li>
                  <li>atte.koskivaara(@)gmail.com</td></li>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</header>

{% endblock content %}